
<!DOCTYPE html>
<html lang="it">
  <head>
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest"> -->

    <meta charset="utf-8">
    <title id="title">---FILE_NAME---</title>
    <link rel="stylesheet" href="__code-frame.css">
    <!-- <link rel="icon" type="image/x-icon" href="favicon.ico"> -->
    <!-- /* the code is not showing up well because the style tag has a word in it */ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
    <header id="page-start">
      <img class="logo" src="https://avatars.githubusercontent.com/u/168371003?s=400&u=c17de05fa7f9e1269fc3a30084844999b58de37f&v=4" alt="logo">
      <h1 id="header-title">---FILE_NAME---</h1>
      <button id="copy-btn">Copia</button>
    </header>
    
    <main id="main-content">
      <span id="request-field" class="frame">Request: ---SERVER_IP---:4221/---PATH---</span>

      <pre style="white-space:pre-wrap;"  id="code">
        <xmp id="text-to-copy">---CODE---</xmp>
      </pre>
      

    </main>

    <footer class="footer">
    <div class="footer-content">
      <a href="https://github.com/erikvelf/http-files-server" class="info-container"><img src="https://imgs.search.brave.com/ZZVkPN-_cIr6ZXIsJ1d4-RndUMqDkIMUu_gRiPCf69I/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9naXRo/dWIuZ2l0aHViYXNz/ZXRzLmNvbS9hc3Nl/dHMvR2l0SHViLU1h/cmstZWEyOTcxY2Vl/Nzk5LnBuZw" alt="github logo"><span>Github link</span></a>
      <dib class="info-container"><img src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/community/logos/python-logo-only.png" alt="python logo"><span>Powered by Python</span></div>
    </div>
  </footer>
  </body>
  <script type="text/javascript" defer="defer" src="__code-frame.js"></script>

</html>
